@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts */
@font-face {
    font-family: 'Tilda Sans VF';
    src: url('../fonts/TildaSans-VF_TTF_Web/TildaSans-VF.woff2') format('woff2'),
         url('../fonts/TildaSans-VF_TTF_Web/TildaSans-VF.woff') format('woff'),
         url('../fonts/TildaSans-VF_TTF_Web/TildaSans-VF.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

.modal::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(255, 255, 255, 1);
}

.modal::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(230, 230, 230, 1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}